<div>
  <p>The information displayed is not guaranteed to be up to date and should be confirmed by visiting the appropriate City of Milwaukee resource.<p>
  <label for="layer-select">Choose a layer:</label>

  <select id="layer-select">
    <option selected="selected" value="bike_lanes">Bike Lanes</option>
    <option value="lead">Lead Service Lines</option>
  </select>
  <div id='map'></div>
</div>
