/* This file is for your main application css. */

@import "./phoenix.css";
@import "./bootstrap.css";

summary {
  list-style: square;
}

#map {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}

#live_map {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  text-align: left;
  line-height: 18px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.phx-disconnected {
  opacity: 0.5;
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-error {
  background: #ffe6f0!important;
}

.transit-dashboard .row:nth-of-type(even) {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.transit-dashboard .row:nth-of-type(odd) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.transit-dashboard .legend { list-style: none; line-height: 15px; }
.transit-dashboard .legend li { float: left; margin-right: 10px; }
.transit-dashboard .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

.transit-dashboard .legend .red { background-color: rgba(219, 119, 112, 1.0); }
.transit-dashboard .legend .orange { background-color: rgba(214, 124, 92, 1.0); }
.transit-dashboard .legend .yellow { background-color: rgba(219, 191, 112,1.0); }
.transit-dashboard .legend .green { background-color: rgba(148, 184, 154,1.0); }

.transit-dashboard .time-box {
  display: flex;
}

.transit-dashboard .time-box > * {
  font-size: 0.75rem;
  flex: 1 1 auto;
}
