<div>
  <h1>MCTS Bus Routes</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Long Name</th>
      </tr>
    </thead>
    <tbody>
      <%= Enum.map(@routes, fn(route) -> %>
        <tr>
          <th scope="row"><%= route.route_id %> </th>
          <td><%= link route.route_long_name, to: Routes.transit_path(@conn, :route_headsign_shape, route.route_id)%></td>
        </tr>
      <% end) %>
    </tbody>
  </table>
</div>
