<div>
  <h1>MCTS Bus Routes</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <%= Enum.map(@trips, fn(trip) -> %>
        <tr>
          <th scope="row"><%= link(trip.headsign, to: Routes.transit_path(@conn, :stop_times, trip.id)) %></th>
        </tr>
      <% end) %>
    </tbody>
  </table>
</div>
